body {

    background-color:  rgba(229, 226, 226, 0.836);
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    border-style:double;
    border-color: lightslategray; 
    padding: 20px; 

    }


    h1 {
        background-color: rgba(108, 212, 247, 0.938);  
        padding: 8px; 
    }
    

    .nav ul {
        list-style: none;
        background-color:lightslategray;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .nav li {
        font-size: 120%;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
        padding: 15px; 
    }

        .nav a {
        text-decoration: none;
        color: #fff;
        display: block;
        transition: .3s background-color;
    }
    
        .nav a:hover {
        background-color: rgb(112, 106, 106);
    }

        .nav a.active {
        background-color: #fff;
        color: rgb(119, 113, 113);
        cursor: default;
    }

        .nav li {
        display: inline-block;
    }
